#viewCamera
{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

/* cameraBlock */
#viewCamera #cameraBlock
{
	display: flex;
}

#viewCamera #cameraBlock #camera--view
{
	border: solid;
	border-radius: 2em;
	border-color: rgb(25, 39, 53);
}

#viewCamera #cameraBlock #camera--sensor
{
	/* display: none; */
	margin-left: 2em;
	border: solid;
	border-radius: 2em;
	border-color: blue;
}

/* buttonBlock */
#viewCamera #buttonBlock
{
	display: flex;
	justify-content: center;
}

#viewCamera #buttonBlock #camera--trigger, #camera--saver, #upload--file
{
	margin-top: 3em;
	margin-right: 1em;
	margin-bottom: 0.1em;
	margin-left: 0.5em;
	border: solid;
	border-radius: 2em;
	width: 10em;
	height: 2em;
	font-size: 0.8em;
	color: #000000;
	background: #00FF00;
	font-weight: bolder;
	transition: all 0.5s ease 0s;
	transition: .3s ease-in-out;
}

#viewCamera #buttonBlock #camera--trigger:hover, #camera--saver:hover , #upload--file:hover
{
	transform: scale(1.2);
	transition: .3s ease-in-out;
	font-size: 0.85em;
	font-weight: bolder;
	color: #00FF00;
	background: #000000;
	transition: all 0.5s ease 0s;
}