#viewCamera
{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

/* cameraBlock */
#viewCamera #cameraBlock
{
	display: flex;
}

#viewCamera #cameraBlock #camera--view
{
	border: solid;
	border-radius: 2em;
	border-color: rgb(25, 39, 53);
	width: 25em;
	height: 14em;
}

#viewCamera #cameraBlock #camera--sensor
{
	position: absolute;
	margin-left: 27em;
	width: 25em;
	height: 14em;
	border: solid;
	border-radius: 2em;
	border-color: blue;
	z-index: 1;
}

#viewCamera #cameraBlock #canvas--filter
{
	position: absolute;
	margin-left: 27em;
	width: 25em;
	height: 14em;
	border: solid;
	border-radius: 2em;
	border-color: rgb(25, 39, 53);
	z-index: 2;
}

/* buttonBlock */
#viewCamera #buttonBlock
{
	display: flex;
	justify-content: center;
}

#viewCamera #buttonBlock #camera--trigger, #camera--saver, #upload--file
{
	margin-top: 3em;
	margin-right: 1em;
	margin-bottom: 0.1em;
	margin-left: 0.5em;
	border: solid;
	border-radius: 2em;
	width: 10em;
	height: 2em;
	font-size: 0.8em;
	color: #000000;
	background: #00FF00;
	font-weight: bolder;
	transition: all 0.5s ease 0s;
	transition: .3s ease-in-out;
}

#viewCamera #buttonBlock #camera--trigger:hover, #camera--saver:hover , #upload--file:hover
{
	transform: scale(1.2);
	transition: .3s ease-in-out;
	font-size: 0.85em;
	font-weight: bolder;
	color: #00FF00;
	background: #000000;
	transition: all 0.5s ease 0s;
}

#viewCamera #filter {
	display: flex;
	justify-content: center;
}

#viewCamera #filter img {
	margin-top: 4em;
	margin-right: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 0.5em;
	width: 8em;
	height: 8em;
	border: solid transparent;
}

#sidebar {
	display: flex;
	flex-direction: column;
	margin-top: 5em;
	margin-bottom: 5em;
}

#sidebar img {
	width: 5em;
	height: auto;
	margin-top: 1em;
	margin-bottom: 1em;
}

@media screen and (min-width: 500px) and (max-width: 1200px) {
	#viewCamera #cameraBlock #camera--view {
		margin-left: 7em;
	}
	
	#viewCamera #cameraBlock #camera--sensor {
		position: absolute;
		margin-top: 17em;
		margin-left: 7em;
		width: 25em;
		height: 14em;
		border: solid;
		border-radius: 2em;
		border-color: blue;
		z-index: 1;
	}

	#viewCamera #cameraBlock #canvas--filter {
		position: absolute;
		margin-top: 17em;
		margin-left: 7em;
		width: 25em;
		height: 14em;
		border: solid;
		border-radius: 2em;
		border-color: rgb(25, 39, 53);
		z-index: 2;
	}

	#viewCamera #filter {
		margin-top: 20em;
	}
}





@media screen and (min-width: 800px) and (max-width: 1200px) {
	#viewCamera #cameraBlock #camera--sensor {
	}
}

