#camera--sensor
{
	border: solid;
	border-radius: 2em;
	border-color: blue;
}

#camera--view
{
	border: solid;
	border-radius: 2em;
	border-color: green;
}

#camera--output
{
	border: solid;
	border-radius: 2em;
	border-color: red;
}

#camera--trigger
{
	/* margin-top: 0.1em;
	margin-right: 0.5em;
	margin-bottom: 0.1em;
	margin-left: 0.5em; */
	border: solid;
	border-radius: 2em;
	width: 10em;
	height: 2em;
	font-size: 0.8em;
	color: #000000;
	background: #00FF00;
	font-weight: bolder;
	transition: all 0.5s ease 0s;
	transition: .3s ease-in-out;
}

#camera--trigger:hover
{
	transform: scale(1.2);
	transition: .3s ease-in-out;
	font-size: 0.85em;
	font-weight: bolder;
	color: #00FF00;
	background: #000000;
	transition: all 0.5s ease 0s;
}