.gallery
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 10em, 10em;
}

.gallery_elements
{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20%;
	height: auto;
	margin-top: 5em;
	margin-bottom: 5em;	
	margin-left: 5em;	
	margin-right: 5em;
}

.gallery_element
{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.gallery_element img
{
	width: 66% !important;
	height: auto;
}

.gallery_element img:hover
{
	width: 76% !important;
	height: auto;
}

.gallery_element p 
{
	font-size: x-small;
	color: #00FF00;
}

.gallery_element p:hover
{
	font-size: medium;
	color: #00FF00;
}