.gallery
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 10em, 10em;
}

/* .gallery  */
.gallery_element
{
	width: 20%;
	height: auto;
	margin-top: 5em;
	margin-bottom: 5em;	
	margin-left: 5em;	
	margin-right: 5em;
}

.gallery_element_img
{
	width: 40% !important;
	height: auto;
}


.gallery_element p
{
	color: #00FF00;
}