.gallery
{
	display: flex;
	flex-direction: row;
	overflow: scroll;
	flex-wrap: wrap;
	height: 100%;
	justify-content: center;
	align-items: center;
	padding: 10em, 10em;
}

.gallery_elements
{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20%;
	height: auto;
	margin-top: 5em;
	margin-bottom: 5em;	
	margin-left: 5em;	
	margin-right: 5em;
}

.gallery_element
{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	transition: .3s ease-in-out;
}

.gallery_element:hover {
	transform: scale(1.1);
	transition: .3s ease-in-out;
}

.gallery_element img
{
	align-items: center;
	justify-content: center;
	width: 66%;
	height: auto;
}

.gallery_element p 
{
	font-size: x-small;
	color: #00FF00;
}

.gallery_element div
{
	display: flex;
}

