.myImg {
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}

.myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.zoom {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 10%; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */

.zoom_image {
	display: flex;
	margin: auto;
	height: auto;
	width: 33%;
}

.zoom_button {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 2em;
}

#like:hover a {
	color: #00FF00;
}

#comment:hover a {
	color: #00FF00;
}

.zoom_button a
{
	color: #000000;
	text-decoration: none;
	font-weight: bold;
	transition: all .3s;	
}

.zoom_button a:hover
{
	color: #00FF00;
	font-weight: 600;
	transform: scale(1.1);
	transition: all .3s;
}

.zoom p {
	display: flex;
	justify-content: center;
	margin-top: 3em;
	font-weight: bolder;
	color: #00FF00;
	background: #000000;
}

.zoom p:hover {
	color: #0000FF;
}

.zoom_button button {
	margin-top: 1em;
	margin-right: 0.5em;
	margin-bottom: 0.1em;
	margin-left: 0.5em;
	border: solid;
	border-radius: 2em;
	width: 10em;
	height: 2em;
	font-size: 0.8em;
	color: #000000;
	background: #00FF00;
	font-weight: bolder;
	transition: all 0.5s ease 0s;
}

.zoom_button button:hover {
	width: 12em;
	height: 2.5em;
	font-size: 0.85em;
	font-weight: bolder;
	color: #00FF00;
	background: #000000;
	transition: all 0.5s ease 0s;
}

/* Caption of Modal Image */
.caption {
	margin: auto;
	/* display: block; */
	/* width: 80%; */
	/* max-width: 700px; */
	text-align: center;
	color: rgb(175, 45, 192);
	padding: 10px 0;
	height: 150px;
}

/* Add Animation */
.zoom_image, .caption {	
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
	from {-webkit-transform: scale(0)} 
	to {-webkit-transform: scale(1)}
}

@keyframes zoom {
	from {transform: scale(0.1)} 
	to {transform: scale(1)}
}

/* The Close Button */
.close {
	/* display: none; */
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.close:hover,
.close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
	.zoom_image {
		width: 100%;
	}
}

/* name inside the zoomed image */
.middle_container
{
	/* position: absolute;
	top: 12em;
	left: 23em; */
	opacity: 0.5;
	transition: .5s ease;
	height: auto;
	width: 10em;
	margin: auto;
	padding: auto;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%)
}
  
.middle_container:hover
{
	opacity: 1;
	font-weight: bolder;
}

.middle_text
{
	background-color:rgb(185, 192, 245);
	color: white;
	font-size: small;
	padding: 2em 4em;
}

/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/