.login
{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.login_title
{
	color: grey;
}

.login_field_name
{
	display: flex;	
	justify-content: center;
	color: #1DA1FE;
}

.login_form_cell
{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1em;
	margin-bottom: 1em;
}