.login
{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.login_title
{
	color: #001628;
	margin-top: 5vh;
}

.login_form_cell
{
	margin-top: 1.2em;
	margin-bottom: 1.2em;
}