#header_div
{
	background-color: #1DA1FE;
}

#main_div
{
	height: 90vh;
	color: white;
	background-color: rgb(30, 56, 83);
}

#footer_div
{
	background-color: #1DA1FE;
}




/* twitter dark blue #15202B */
/* twitter light blue #1DA1FE */
