.header_div
{
	display: flex;
	background-color: #1DA1FE;
}

.main_div
{
	display: flex;
	align-items: center;
	flex-direction: column;
	font-family: Helvetica Neue;
	background-color: rgb(30, 56, 83);
	color: white;
	height: 90vh;

}

.footer_div
{
	display: flex;
	background-color: #1DA1FE;
}



/* twitter dark blue #15202B */
/* twitter light blue #1DA1FE */
